@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?xfe1xi');
  src: url('../fonts/icomoon.eot?xfe1xi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xfe1xi') format('truetype'),
    url('../fonts/icomoon.woff?xfe1xi') format('woff'),
    url('../fonts/icomoon.svg?xfe1xi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e901";
}

.icon-close .path1:before {
  content: "\e904";
  color: rgb(108, 108, 120);
}

.icon-close .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-close .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-scan:before {
  content: "\e907";
  color: #131317;
  font-size: 24px;
}

.icon-bell:before {
  content: "\e908";
}

.icon-category:before {
  content: "\e909";
  font-size: 16px;
  color: #000000;
}

.icon-check-circle .path1:before {
  content: "\e90a";
  color: rgb(229, 229, 229);
}

.icon-check-circle .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 118, 243);
}

.icon-power-off:before {
  content: "\e90c";
}

.icon-wifi:before {
  content: "\e90d";
}

.icon-star-2:before {
  content: "\e90e";
}

.icon-heart-1:before {
  content: "\e934";
}

.icon-friends:before {
  content: "\e910";
}

.icon-setting-2:before {
  content: "\e911";
}

.icon-add-user:before {
  content: "\e912";
}

.icon-setting:before {
  content: "\e913";
  color: #131317;

}

.icon-more:before {
  content: "\e914";
  color: #6c6c78;
  font-size: 20px;

}

.icon-down:before {
  content: "\e915";
  color: #6c6c78;
}

.icon-caption:before {
  content: "\e916";
  color: #2dc28d;
}

.icon-phone:before {
  content: "\e917";
  color: #2dc28d;
}

.icon-start:before {
  content: "\e918";
  color: #2dc28d;
}

.icon-way:before {
  content: "\e903";
  color: #fff;
}

.icon-selected-no:before {
  content: "\e919";
}

.icon-target:before {
  content: "\e91a";
  color: #2dc28d;
}

.icon-left:before {
  content: "\e91b";
  color: #6c6c78;
}

.icon-newlo:before {
  content: "\e91c";
  font-size: 25px;
}

.icon-home-active:before {
  content: "\e91d";
  color: #2dc28d;
}

.icon-messenger:before {
  content: "\e91e";
  color: #6c6c78;
}

.icon-news:before {
  content: "\e91f";
  color: #6c6c78;
}

.icon-star-line:before {
  content: "\e920";
  color: #6c6c78;
}

.icon-home:before {
  content: "\e902";
  color: #6c6c78;
}

.icon-eye-show:before {
  content: "\e921";
  color: #6c6c78;
}

.icon-eye-hide:before {
  content: "\e922";
  color: #6c6c78;
  font-size: 16px;

}

.icon-check:before {
  content: "\e923";
  color: #2dc28d;
}

.icon-star:before {
  content: "\e924";
  font-size: 16px;
}

.icon-search-2:before {
  content: "\e925";
}

.icon-qrcode:before {
  content: "\e926";
}

.icon-plus1:before {
  content: "\e927";
}

.icon-link:before {
  content: "\e928";
}

.icon-heart:before {
  content: "\e929";
}

.icon-cancel:before {
  content: "\e92a";
}

.icon-camera:before {
  content: "\e92b";
  color: #fff;
}

.icon-camera-2:before {
  content: "\e92c";
}

.icon-add:before {
  content: "\e92d";
  color: #2dc28d;
}

.icon-edit:before {
  content: "\e92e";
  color: #131317;
  font-size: 24px;
}

.icon-plus:before {
  content: "\e92f";
}

.icon-share-2:before {
  content: "\e930";
}

.icon-map-pin:before {
  content: "\e932";
}

.icon-clock:before {
  content: "\e931";
}

.icon-right:before {
  content: "\e90f";
}

.icon-heart-o:before {
  content: "\e933";
  color: #2DC28D;
  font-size: 18px;
}