@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n1jhur');
  src:  url('../fonts/icomoon.eot?n1jhur#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n1jhur') format('truetype'),
    url('../fonts/icomoon.woff?n1jhur') format('woff'),
    url('../fonts/icomoon.svg?n1jhur#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tele:before {
  content: "\e900";
}
.icon-line .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-line .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 194, 0);
}
.icon-insta:before {
  content: "\e903";
}
.icon-x:before {
  content: "\e904";
}
.icon-tw:before {
  content: "\e905";
}
.icon-increase:before {
  content: "\e906";
}
.icon-reduce:before {
  content: "\e907";
}
.icon-plus2:before {
  content: "\e908";
}
.icon-profile-line:before {
  content: "\e909";
}
.icon-heart-line:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e90b";
}
.icon-calendar2:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-website:before {
  content: "\e90e";
}
.icon-left-arr:before {
  content: "\e90f";
}
.icon-left:before {
  content: "\e910";
}
.icon-right:before {
  content: "\e911";
}
.icon-up:before {
  content: "\e912";
}
.icon-down:before {
  content: "\e913";
}
.icon-double-check:before {
  content: "\e914";
}
.icon-upload2:before {
  content: "\e916";
}
.icon-close1 .path1:before {
  content: "\e917";
  color: rgb(108, 108, 120);
}
.icon-close1 .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-close1 .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart-1:before {
  content: "\e934";
}
.icon-chat2:before {
  content: "\e91a";
}
.icon-Chat .path1:before {
  content: "\e91b";
  color: rgb(211, 213, 218);
  opacity: 0.4;
}
.icon-Chat .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(211, 213, 218);
}
.icon-typo:before {
  content: "\e91d";
}
.icon-unfollow:before {
  content: "\e91e";
}
.icon-upload:before {
  content: "\e91f";
}
.icon-view:before {
  content: "\e920";
}
.icon-think:before {
  content: "\e921";
}
.icon-timeline:before {
  content: "\e922";
}
.icon-toast:before {
  content: "\e923";
}
.icon-treeview:before {
  content: "\e924";
}
.icon-star2:before {
  content: "\e925";
}
.icon-start:before {
  content: "\e926";
}
.icon-stepper:before {
  content: "\e927";
}
.icon-sw:before {
  content: "\e928";
}
.icon-spin:before {
  content: "\e929";
}
.icon-social:before {
  content: "\e92a";
}
.icon-sharelink:before {
  content: "\e92b";
}
.icon-share:before {
  content: "\e92c";
}
.icon-setting:before {
  content: "\e92d";
}
.icon-send .path1:before {
  content: "\e92e";
  color: rgb(135, 59, 10);
}
.icon-send .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(135, 59, 10);
  opacity: 0.4;
}
.icon-save:before {
  content: "\e930";
}
.icon-search:before {
  content: "\e931";
}
.icon-right-sm:before {
  content: "\e932";
}
.icon-report:before {
  content: "\e933";
}
.icon-rate:before {
  content: "\e935";
}
.icon-progress:before {
  content: "\e936";
}
.icon-radio:before {
  content: "\e937";
}
.icon-range:before {
  content: "\e938";
}
.icon-profile:before {
  content: "\e939";
}
.icon-profile2 .path1:before {
  content: "\e93a";
  color: rgb(211, 213, 218);
}
.icon-profile2 .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(211, 213, 218);
  opacity: 0.4;
}
.icon-post:before {
  content: "\e93c";
}
.icon-paper .path1:before {
  content: "\e93d";
  color: rgb(211, 213, 218);
  opacity: 0.4;
}
.icon-paper .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(211, 213, 218);
  opacity: 0.4;
}
.icon-paper .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(211, 213, 218);
}
.icon-pen:before {
  content: "\e940";
}
.icon-oclock:before {
  content: "\e941";
}
.icon-noti:before {
  content: "\e942";
}
.icon-modal:before {
  content: "\e943";
}
.icon-new:before {
  content: "\e944";
}
.icon-mess:before {
  content: "\e945";
}
.icon-logout .path1:before {
  content: "\e946";
  color: rgb(211, 213, 218);
  opacity: 0.4;
}
.icon-logout .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(211, 213, 218);
}
.icon-menu .path1:before {
  content: "\e948";
  color: rgb(135, 59, 10);
  opacity: 0.4;
}
.icon-menu .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(135, 59, 10);
}
.icon-menubar:before {
  content: "\e94a";
}
.icon-lock:before {
  content: "\e94b";
}
.icon-location:before {
  content: "\e94c";
}
.icon-loca:before {
  content: "\e94d";
}
.icon-listgroup:before {
  content: "\e94e";
}
.icon-like:before {
  content: "\e94f";
}
.icon-light:before {
  content: "\e950";
}
.icon-language:before {
  content: "\e951";
}
.icon-img-2:before {
  content: "\e952";
}
.icon-input:before {
  content: "\e953";
}
.icon-hide:before {
  content: "\e954";
}
.icon-home:before {
  content: "\e955";
}
.icon-img:before {
  content: "\e956";
}
.icon-heart2:before {
  content: "\e957";
}
.icon-heart:before {
  content: "\e958";
}
.icon-folder .path1:before {
  content: "\e959";
  color: rgb(211, 213, 218);
  opacity: 0.4;
}
.icon-folder .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(211, 213, 218);
}
.icon-follow:before {
  content: "\e95b";
}
.icon-follower:before {
  content: "\e95c";
}
.icon-gallery:before {
  content: "\e95d";
}
.icon-filter:before {
  content: "\e95e";
}
.icon-filter2:before {
  content: "\e95f";
}
.icon-dropdown:before {
  content: "\e960";
}
.icon-divider:before {
  content: "\e961";
}
.icon-color:before {
  content: "\e962";
}
.icon-delete:before {
  content: "\e963";
}
.icon-close:before {
  content: "\e964";
}
.icon-category:before {
  content: "\e965";
  color: #d3d5da;
}
.icon-chart:before {
  content: "\e966";
}
.icon-call:before {
  content: "\e967";
}
.icon-camera:before {
  content: "\e968";
}
.icon-card:before {
  content: "\e969";
}
.icon-btn:before {
  content: "\e96a";
}
.icon-avt:before {
  content: "\e96b";
}
.icon-badge:before {
  content: "\e96c";
}
.icon-bookmark2:before {
  content: "\e96d";
}
.icon-bootmark:before {
  content: "\e96e";
}
.icon-btn-group:before {
  content: "\e96f";
}
.icon-alert:before {
  content: "\e970";
}
.icon-arr-right:before {
  content: "\e971";
}
.icon-left-btn:before {
  content: "\e972";
}
.icon-check:before {
  content: "\e973";
}
.icon-down1:before {
  content: "\e915";
}
.icon-plus:before {
  content: "\e974";
}
