// cards
.card {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);
    border-color: transparent;
    background-color: var(--white);
    .card-header {
        background-color: transparent;
        padding: 0;
        border-color: transparent;
        .card-title {
            font-family: $font-main-family;
            margin: 0;
        }
    }
    .card-body {
        padding: 0;
    }
}
