.footer {
    background: $white;
    &.fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.menubar-footer {
    padding: 17px 20px 18px;
    &.footer-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: $white;
    }
    .inner-bar {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        li {
            padding: 0 0;
            width: 20%;
            a {
                color: $secondary;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                font-size: 12px;
            }
            &.active {
                a {
                    color: var(--primary);
                    font-weight: 600;
                }
            }
        }
        .action-home {
            margin-top: -30px;
            a {
                @include flex(center, center);
                border-radius: 9999px;
                width: 46px;
                height: 46px;
                background-color: var(--primary-btn);
                box-shadow: var(--shadow);
                margin: 0 auto;
                .icon-home {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }
}
