.box-auth-pass {
    position: relative;
}

.show-pass,
.show-pass2 {
    position: absolute;
    right: 16px;
    top: 15px;
    cursor: pointer;
    .icon-eye-show {
        display: none;
    }
    &.active {
        .icon-eye-show {
            display: inline-block;
            margin-top: 3px;
        }
        .icon-eye-hide {
            display: none;
        }
    }
}

.group-cb {
    display: flex;
    align-items: center;
    gap: 8px;
    &.cb-signup {
        label {
            span {
                color: $onSurface;
                font-weight: 500;
            }
        }
        .tf-checkbox {
            border-color: $line;
            &:checked {
                border-color: $primary;
                &::before {
                    color: $primary;
                }
            }
        }
    }
}
