.noUi-horizontal {
    height: 2px;
}
.noUi-target {
    border: 0;
}
.noUi-connects {
    background: $line;
}
.noUi-connect {
    background-color: $warning;
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    border-color: $success;
    background-color: $success;
    box-shadow: unset;
}
.noUi-handle:after,
.noUi-handle:before {
    display: none;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -8px;
}
