.listview-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 8px;
    .content {
        flex-grow: 1;
    }
    .left {
        font-size: 20px;
        color: $onSurface;
    }
    .right {
        display: flex;
        // align-items: center;
        gap: 8px;
    }
    .icon-right {
        font-size: 20px;
        color: $onSurface;
    }
    .icon-plus {
        font-size: 28px;
    }
    .img-box {
        width: 51px;
        height: 51px;
        border-radius: 51px;
    }
    .media {
        position: relative;
        img {
            width: 56px;
            height: 56px;
            border-radius: 56px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 2px;
            width: 12px;
            height: 12px;
            background-color: $success;
            border: 2px solid $white;
            border-radius: 50px;
        }
    }
}

.wg-list-avt {
    display: inline-flex;
    a {
        margin-left: -4px;
        img {
            border-radius: 50px;
            border: 1px solid $white;
            width: 19px;
        }
    }
}
.group2-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    .icon {
        border-radius: 61px;
        background-color: $surface;
        width: 32px;
        height: 32px;
        font-size: 20px;
        @include flex(center, center);
    }
}

.dot-icon {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $primary;
    display: inline-block;
    margin: 0 4px;
}
.list-star {
    display: flex;
    li {
        font-size: 16px;
        color: $line;
        &:not(:last-child) {
            color: $warning;
        }
    }
}

.banner-store {
    box-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 171px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    .box-rate {
        height: 74px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 77.08%);
        padding: 13px;
        .item-rate {
            border-radius: 4px;
            background: rgba(250, 190, 60, 0.3);
            padding: 4px;
            display: inline-flex;
            align-items: center;
            gap: 4px;
            .icon-star {
                font-size: 12px;
                color: $warning;
            }
        }
        span {
            font-size: 11px;
            color: $white;
            line-height: 13px;
        }
    }
    .box-heart {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.box-heart {
    width: 32px;
    height: 32px;
    background-color: $white;
    @include flex(center, center);
    border-radius: 50%;
    .icon {
        font-size: 20px;
        color: $critical;
    }
}
