.listview-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 8px;
    .content {
        flex-grow: 1;
    }
    .left {
        font-size: 20px;
        color: $onSurface;
    }
    .right {
        display: flex;
        // align-items: center;
        gap: 8px;
    }
    .icon-right {
        font-size: 20px;
        color: $onSurface;
    }
    .icon-plus {
        font-size: 28px;
    }
    .img-box {
        width: 51px;
        height: 51px;
        border-radius: 51px;
    }
    .media {
        position: relative;
        img {
            width: 56px;
            height: 56px;
            border-radius: 56px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 2px;
            width: 12px;
            height: 12px;
            background-color: $success;
            border: 2px solid $white;
            border-radius: 50px;
        }
    }
}

.wg-list-avt {
    display: inline-flex;
    a {
        margin-left: -4px;
        img {
            border-radius: 50px;
            border: 1px solid $white;
            width: 19px;
        }
    }
}
.group2-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    .icon {
        border-radius: 61px;
        background-color: $surface;
        width: 32px;
        height: 32px;
        font-size: 20px;
        @include flex(center, center);
    }
}

.dot-icon {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $primary;
    display: inline-block;
    margin: 0 4px;
}
.list-star {
    display: flex;
    li {
        font-size: 16px;
        color: $line;
        &:not(:last-child) {
            color: $warning;
        }
    }
}
