//settings
$font-main-size: 14px;
$font-main-line: 19.6px;
$font-main-family: "Nunito", sans-serif;
$font-title-family: "Montserrat", sans-serif;
$font-btn-family: "Poppins", sans-serif;
$fontIcon: "icomoon";

$h1-fs: 34px;
$h1-lh: 40.8px;
$h2-fs: 24px;
$h2-lh: 28.8px;
$h3-fs: 20px;
$h3-lh: 24px;
$h4-fs: 18px;
$h4-lh: 25.2px;
$h5-fs: 16px;
$h5-lh: 22.4px;
$h6-fs: 15px;
$h6-lh: normal;

// color
$primary: #873B0A;
$blue-primary: #0076f3;
$white: #fff;
$black: #111;
$secondary: #6c6c78;
$onSurface: #131317;
$line: #e5e5e5;
$primary-2: #093726;
$critical: #eb5a5a;
$warning: #fabe3c;
$success: #188038;
$surface: #f5f5f5;


//rgba colors 
$rgba-primary: rgba(135, 59, 10, 0.10);
$rgba-success: rgba(30, 127, 17, 0.10);
$rgba-danger: rgba(225, 0, 0, 0.10);
$rgba-warning: rgba(255, 138, 0, 0.10);
$rgba-info: rgba(167, 2, 103, 0.10);
$rgba-dark: rgba(27, 50, 95, 0.10);

:root {
    --surface: #E1E1E1;

    --white: #fff;
    --black: #111;
    --primary: #873B0A;
    --primary-bold: #5B2400;
    --primary-btn:#C96A28;
    --secondary: #F2F2F2;
    --success: #1E7F11;
    --success2: #54B24C;
    --danger: #E10000;
    --warning: #FF8A00;
    --info: #A70267;
    --light: #E7E7E7;
    --dark: #1B325F;
    --disable: #D3B7A5;
    --green: #143D33;
    --green2: #C7F464;
    --orange: #FF9C2E;
    --orange2: #FA6900;
    --orange3: #F9CDAD;
    --pink: #FE4365;
    --purple: #542437;
    --blue: #69D2E7;
    --blue2:#A7DBD8;
    --blue3: #4ECDC4;   
    --blue4: #036564;
    --dark2: #031634;
    --bg-ip: #F7F7F7;
    --shadow:0px 15px 20px 0px rgba(201, 106, 40, 0.44);
    --shadow2: 0px 1px 4px 0px rgba(0, 0, 0, 0.07) inset;
    --shadow3: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    --shadow-box:0px 8px 30px 0px rgba(0, 0, 0, 0.06);

    --text: #6F7582;
    --text-2:#C9CBCE;
    --text-3: #343434;
    --text-4: #D3D5DA;
    --text-5: #ABADB2;
    
    --line: #F2F2F2;
    --line-2:#d9d9d9;
    --line-3: #DBDBDB;
    --line-rgba: rgba(255,255,255,0.1);
    //backdrop
    --backdrop: #000000;
    --bg-progress:#F0F0F1;

    // rgba colors
    --rgba-primary: rgba(135, 59, 10, 0.10);
    --rgba-success: rgba(30, 127, 17, 0.10);
    --rgba-danger: rgba(225, 0, 0, 0.10);
    --rgba-warning: rgba(255, 138, 0, 0.10);
    --rgba-info: rgba(167, 2, 103, 0.10);
    --rgba-dark: rgba(27, 50, 95, 0.10);

    // liner garden colors
    --liner-primary: linear-gradient(270deg, #E17E3E 0%, #873B0A 100%);

}

